<list-errors errors="$ctrl.errors"></list-errors>
<form>
    <fieldset ng-disabled="$ctrl.isSubmitting">
        <fieldset>
            <label>Title
                <input name="title" ng-model="model.title" />
            </label>
        </fieldset>
        <fieldset>
            <label>Author
                <input name="author" ng-model="model.author" />
            </label>
        </fieldset>
        <fieldset>
            <label>Text
                <textarea name="text" ng-model="model.text"></textarea>
            </label>
        </fieldset>
        <button type="button" ng-click="$ctrl.submit()">Publish</button>
    </fieldset>
</form>