<table>
    <thead>
    <tr>
        <th class="col-md-3">Name</th>
        <th class="col-md-3">DateTime</th>
        <th class="col-md-3">Author</th>
        <th class="col-md-3">Actions</th>
    </tr>
    </thead>
    <tbody ng-repeat="article in model.articles">
    <tr>
        <td>
            <span ng-bind="article.title"></span>
        </td>
        <td>
            <span ng-bind="article.dateTime | date:'medium'"></span>
        </td>
        <td>
            <span ng-bind="article.author"></span>
        </td>
        <td>
            <button ng-click="model.editItem(article)"></button>
            <button ng-click="model.deleteItem(article)"></button>
        </td>
    </tr>
    </tbody>
</table>